<%- include('includes/header') %>

        <h1>Welcome!</h1>
        <ul>
            <li><a href="/new-game">New game</a></li>
            <li><a href="/ranking">Rank</a></li>
            <li><a href="/upload">Upload picture</a></li>
        </ul>

<%- include('includes/footer') %>