body{
    font-family: monospace;
    font-size: large;
    padding: 10px;
}

a{
    text-decoration: none;
    color: olivedrab;
}
ul{
    list-style-type: circle;
}
img{
    height: 250px;
    width: 250px;
    padding: 5px;
    border: 2px solid #e5e5e5;
    margin: 5px;
    
}
